
h1 {
    text-align: center;
}
.wrapper {
    text-align: center;
    width: 85%;
    margin-left: 7.5%;
}

#questioncontainer {
    height: auto;
}
.question {
    text-align: justify;
    width: 95%;
}
.question > h2 {
    display: inline-block;
    width: 95%;
}
.plusicon {
    display: inline-block;
    float: right;
    position: relative;
    top: 20px;
    font-size: 20pt;
}
.question:hover {
    cursor: pointer;
}
.answer {
    display: none;
    margin-top: -30px;
    margin-left: -10px;
}

.answer {
    text-align: justify;
    padding: 10px 0 0 25px;
}

