/*-----------------------------------------------------------*/
/*Common Area start*/
    /*Navi bar start*/
        body {
            font-family:'Ubuntu', sans-serif;
            margin: 0;
        }
        #naviBar {
            background:white;
            position:fixed;
            top:0px;
            left:0px;
            width:100%;
            height:80px;
            border:1px solid lightgray;
        }
        #naviBar-img {
            margin-left:20px;
            width:150px;
            height:70px;
            float:left;
        }
        #naviBar-ul1 {
            list-style: none;
            width:800px;
            margin-top:0px;
            overflow:hidden;
        }
        #naviBar li {
            float:left;
            text-align: center;
            margin-left:25px;
            font-size:20px;
            color:black;
            width:150px;
            height:80px;
            line-height:80px;

        }
        .navilist:hover {
            background-color:lightgray;
            width:30px;
            cursor:pointer;
        }
        #naviBar-ul2 {
            position:absolute;
            list-style: none;
            top:-15px;
            right:10px;
        }
        #naviBar-ul2 li {
            margin-right:1px;
            margin-left:1px;
        }
    /*Navi bar end*/
    /*footer start*/
        #footer {
            margin-top: 3%;
            width:100%;
        }
        #footer div {
            background:rgb(173, 240, 173);
            width: 100%;
            height:90px;
            padding-left: 50px;
            font-size: 15px;
            line-height:20px;
            font-weight: 800;
        }
    /*footer end*/
/*Common Area- end-*/
/*-----------------------------------------------------------*/
/*1.My Plants start-*/
    /*Contents 1 start*/
        .links {
            text-decoration: none;
            color: black;
        }
        #contents-3 {
            margin-top:100px;
            height:500px;
        }
        #contents-3-left,#contents-3-center,#contents-3-right {
            float:left;
        }
        #contents-3-left {
            width:20%;
            margin-left:150px;
            margin-right:20px;
            height:450px;
        }
        #contents-3-left img{
            border:2px solid lightgray;
        }
        #contents-3-center {
            width:35%;
            margin-right:20px;
            height:450px;
        }
        #contents-3-right {
            width:25%;
            height:450px;
            /*position: relative;*/
            top: -13px;
        }
        #contents-3-right h4 {
            text-align: left;
            font-size:20px;
            margin-left:25px;
        }
        #contents-3-right p {
            text-align: left;
            margin-left:35px;
        }
        #contents-3-center-pic1 img {
            width:500px;
            height:465px;
            border:1px solid lightgray;
        }
        #contents-3-left-pic1, #contents-3-left-pic2, #contents-3-left-pic3 {
            width:100%;
            height:33%;
            margin-bottom:10px;
        }
        #contents-3-left-pic1 img, #contents-3-left-pic2 img , #contents-3-left-pic3 img {
            width:70%;
            height:100%;
            border-radius:20px;
        }
        .plantTypeBox {
            border:0.1px solid black;
            background-color: #EFEFF1;
            border-radius: 20px;
        }
        .plantTypeBox > p {
            background-color: #FDFDFD;
            border-radius: 20px;
            position: relative;
            right: 8%;
            background-color: #FDFDFD;
            padding-left:20px;
            width: 90%;
            border-radius: 20px;
            height: auto;
        }
        .ageBox{
            border:0.1px solid black;
            background-color: #EFEFF1;
            border-radius: 20px;
        }
        .ageBox > p {
             background-color: #FDFDFD;
            border-radius: 20px;
            position: relative;
            padding-left:20px;
            right: 8%;
            background-color: #FDFDFD;
            width: 90%;
            border-radius: 20px;
            height: auto;
        }
        h4 {
            position: relative;
            right: 7%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .commentsContainer {
            border: 0.1px solid black;
            background-color: #EFEFF1;
            border-radius: 20px;
            padding-bottom: 5px;
        }
        .commentBox {
            position: relative;
            left: 1%;
            top: 5px;
            background-color: #FDFDFD;
            width: 95%;
            border-radius: 20px;
            height: auto;
            margin-bottom: 5px;
        }
        .imgBox {
            display: inline-block;
            position: relative;
            top: 10px;
            width: 15%;
        }
        .paragraphBox {
            display: inline-block;
            width: 80%;
            position: relative;
            top: 10pt;
            font-size: 11pt;
            height: 70px;
        }
        .commentMover {
            position: relative;
            right: 10%;
            top: -12px
        }
        .postdate {
            font-size: 9.5pt;
            position: relative;
            float: right;
        }
        .testface {
            width: 45px;
            height: 40px;
            border-radius: 50%;
        }
        .tagBox {
            border:0.1px solid black;
            background-color: #EFEFF1;
            border-radius: 20px;
        }
        .tagBox > p {
            background-color: #FDFDFD;
            border-radius: 20px;
            position: relative;
            right: 8%;
            background-color: #FDFDFD;
            width: 90%;
            border-radius: 20px;
            padding-left:20px;
            height: auto;
        }
        /*Popup window for a successful photo upload*/
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }


/*-----------------------------------------------------------*/
/*2.Neighbor start-*/
    /*Contents 1 start*/
        #contents {
            padding-top:160px;
            margin:0 auto;
            text-align: center;
        }
        #contents-1 {
            padding-top: 10px;
            padding-bottom: 10px;
            background:rgb(198, 243, 198);
        }
        #contents h2 {
            font-size: 40px;
        }
        #contents-1-nav {
            width:30%;
            margin:0 auto;
        }
        #contents-1-nav-search {
            width:95%;
            height:65px;
            line-height:20px;
            margin:0 auto;
        }
        #contents-1-nav-search #input{
            width:350px;
            height:30px;
            border-radius:15px;
        }
    /*Contents 1 end*/

    /*Contents 2 start*/
        #contents-2 {
            margin-top:30px;
        }
        #row1-neighbor, #row2-neighbor,#row3-neighbor, #row4-neighbor {
            margin:0 auto;
            margin-top:40px;
            width:95%;
            height:350px;
            margin-bottom:20px;
        }
        .grid {
            width:24%;
            height:340px;
            border:1px solid lightgray;
            display:inline-block;
            margin:0 auto;
            visibility: hidden;
        }
        .image {
            width:99%;
            height:100%;
            margin:0 auto;
        }
        #contents-2-loading {
            margin:0 auto;
        }
    /*Contents 2 end*/

/*2.Neighbor end-*/
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*3.Rank Start-*/
        #contents-2 ul, #contents-3 ul{
            width:600px;
            margin:0 auto;
        }
        #contents-2 li, #contents-3 li{
            float:left;
            list-style: none;
            border:1px solid lightgray;
            margin:0 auto;
            text-align: center;
            width:33%;
            height:50px;
            line-height:50px;
            font-size:20px;
        }
        #row1-ranking, #row2-ranking {
            margin:0 auto;
            margin-top:80px;
            width:95%;
            height:350px;
            margin-bottom:20px;
        }
/*3.Rank End-*/
/*-----------------------------------------------------------*/


/*-----------------------------------------------------------*/
/*4.About start-*/
        #contents-2 > img {
            width:400px;
            height:300px;
        }
        #contents-2 p {
            font-size:25px;
            line-height:50px;
        }
        #input2 {
            cursor: pointer;
        }
        #input3 {
            cursor: pointer;
        }
/*4.About end-*/
/*-----------------------------------------------------------*/

        #popup-container {
            position:fixed;
            width:1000px;
            height:600px;
            text-align:center;
            top:70px;
            left:250px;
            background:white;
            border:3px solid lightgray;
            visibility: hidden;
        }
        #popup-img {
            float:left;
             width:50%;
             height:80%;
             margin:0 auto;
             text-align: center;
             border:1px solid lightgray;
             margin-top: 20px;
             margin-left:10px;
             margin-right:10px;
        }
        #here {
            float:left;
            margin-top:40px;
            width:40%;
            color:black;
            font-size:20px;
            text-align:left;
            margin-left:30px;
            height:80%;
        }
        #here div{
            margin-bottom:15px;
        }
        #there RC {
            text-align:center;
        }
        #here img {
            margin-top:10px;
            text-align: center;
            width:400px;
            height:250px;
        }
        #buttonforExit {

        }
