body {
	margin: 0;
}
#loginHeader {
	font-size:40px;
	font-family: 'Open Sans', sans-serif;
}
#links {
	width: 700px;
	height: 60px;
	background-color: white;
	bottom:0;
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-left: 60px;

}
#navBar > p {
	margin-top:0;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	top: 0px;
	right:10px;
	position:absolute;
	font-size: 30pt;
	color: white;
}
.button {
	background-color: blue;
	color:black;
	padding: 15px 25px 15px 25px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 25px;
	border: 1px solid black;
}
#navBar {
	height: 110px;
	width: 100%;
	background-color:grey;
	position:relative;
}
#login {
	background-color: blue;
	color:black;
	padding: 10px 25px 15px 25px;
	border-radius:25px;
	border: 1px solid black;
	position: absolute;
	right: 25px;
	top: 55px;
	font-size:17pt;
	
}
#mainBody {
	display: grid;
	grid-template-columns: 30% 40% 30%;	
	grid-template-rows: auto;
	height:500px;
}
#About {
    display: inline-block;
    position: relative;
    left: 45%;
    font-size: 20pt;
    border: 2px solid black;
    padding: 0.3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    
}
#leftSide {
	grid-column: 1;
	flex-direction: column;
	justify-content:space-between;
    width: 100%;
}
#listbuttons {
    display:inline-block;
    font-size: 18pt;
    position: relative;
    left: 40%;
    width: 50%;
    height: 
    border: 2px solid black;
}
/*
#verticalLine {
	background-color:black;
}
*/
#rightSide {
	grid-column: 2;   
}
#gallery {
    background: lightgrey;
    position: relative;
    bottom: 10px;
    padding-bottom: 8px;
}
img {
    height: 125px;
    width: 150px;
    display: inline-block;
     margin: 10px;
    padding: 10px;
    background: grey;
    position: relative;
    left: 15px
}
.box {
    display:inline-block;
    
}
.title {
    text-align: center;
    font-size: 14pt;
    background: white;
    border: 2px solid black;
    position: relative;
    left: 24.5px;
    width: 168px;
    bottom: 10px;
}